SECRET_KEY=vjdbjhbjh_bhjbjh898-bjdgyjhjhb.bdjcbgghffgf
DATABASE_URL=sqlite:///chronic_disease.db
IBM_WATSONX_API_KEY=your-ibm-watsonx-api-key-here
IBM_WATSONX_PROJECT_ID=your-ibm-watsonx-project-id-here
IBM_WATSONX_URL=https://au-syd.ml.cloud.ibm.com
IBM_GRANITE_MODEL_ID=ibm/granite-8b-code-instruct
MAX_CONTENT_LENGTH=16777216
UPLOAD_FOLDER=static/uploads
